body{
background-color:	#000000;
}

h1{
  color:#F5FFFA;
  font-size:70px;
}
h2{
  color:#FF3300;
  font-size:50px;
}
h3{
  color:#FF3300;
  font-size:55px;
}
h4{
  color:#F5FFFA;
  font-size:35px;
}
hr{

  border-style:solid;
  border-top-style:dashed;
  border-color:white;
  width:11%;
  border-width:11px;
}
h5{
  color:#F5FFFA;
  font-size:50px;
}
